@use '@onfido/castor';

.container {
  display: grid;
  gap: castor.space(4);
  grid: auto-flow / 1fr 3fr;
}

.header {
  color: castor.color('content-secondary');
}

.box {
  align-items: center;
  background-color: castor.color('background-surface');
  border: 1px solid castor.color('border-action-subtle');
  display: flex;
  height: castor.space(4);
  justify-content: center;
  padding: 0 castor.space(1);
}
