@use './wrap-if' as mixins;

@mixin interactive($target: null) {
  @include mixins.wrap-if($target) {
    cursor: pointer;
    user-select: none;
  }

  &.-disabled #{$target},
  &:disabled #{$target} {
    cursor: not-allowed;
  }
}
