@mixin interactive($target: null) {
  #{if($target, $target, '&')} {
    cursor: pointer;
    user-select: none;
  }

  &.-disabled #{$target},
  &:disabled #{$target} {
    cursor: not-allowed;
  }
}
