@use '../helpers';

$_allowed-types: ('action', 'negative');

$_color-spread: 4px;
$_color-size: 2px;
$_inner-spread: $_color-spread - $_color-size;

@mixin with-outer-focus($type) {
  @if not index($_allowed-types, $type) {
    @error '$type must be one of (#{$_allowed-types})';
  }

  $color-line: 0 0 0 $_color-spread helpers.color('border-#{$type}-focus');
  $inner-line: 0 0 0 $_inner-spread helpers.color('border-focus-inner');

  outline: none;

  &:focus {
    box-shadow: $inner-line, $color-line;
  }
}
