@use '@onfido/castor';

.container {
  display: grid;
  gap: castor.space(3);
  grid: auto-flow / 1fr 1fr 5fr;
}

.header {
  color: castor.color('content-secondary');
}

.box {
  background-color: castor.color('background-surface');
  border: 1px solid castor.color('border-action-subtle');
  height: castor.space(2);
}
