@use '~@onfido/castor';

$gap: castor.space(1);
$margin: castor.space(4);

.container {
  box-sizing: border-box;
  margin: $margin;
}

.block {
  display: inline-grid;
  gap: $gap;
}

.flex {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  // --- this is the same as gap, except Safari supports it
  margin: $margin - $gap * 0.5;

  > * {
    margin: $gap * 0.5;
  }
  // ---
}

.grid {
  align-items: center;
  display: grid;
  gap: $gap;
  grid: auto-flow / repeat(4, 1fr);
}
