@use '@onfido/castor';

$space: castor.space(1);

.block {
  display: inline-grid;
  gap: $space;
}

.flex {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  // --- this is the same as gap, except Safari supports it
  margin: -$space;

  > * {
    margin: $space;
  }
  // ---
}

.grid {
  align-items: center;
  display: grid;
  gap: $space;
  grid: auto-flow / repeat(4, 1fr);
}
