@use '@onfido/castor';

.container {
  box-sizing: border-box;
  margin: castor.space(4);
}

.block {
  display: inline-grid;
  gap: castor.space(1);
}

.flex {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: castor.space(1);
}

.grid {
  align-items: center;
  display: grid;
  gap: castor.space(1);
  grid: auto-flow / repeat(4, 1fr);
}
