@use '../../helpers';
@use '../../mixins';

@mixin FieldsetLegend() {
  @if not mixins.includes('FieldsetLegend') {
    @include _FieldsetLegend();
  }
}

@mixin _FieldsetLegend() {
  .ods-fieldset-legend {
    @include helpers.font('300-regular');

    color: helpers.color('content-main');
    display: flex;
    flex-flow: column wrap;
    padding: helpers.space(0.5) 0;
  }
}
