# Files and folders that might appear on external disks
.Spotlight-V100
.Trashes

# Folder view configuration
.DS_Store
Desktop.ini

# Editor configuration
.idea
*.sublime-project
*.sublime-workspace
*.iml

# Logs
*.log*

# Node specific
node_modules
package-lock.json
*.tgz

# Repository specific
.cache
.castor*
.nyc_output
coverage
cypress
dist
/public
packages/*/src/integrated
packages/*/prototype.js*
