@use 'sass:list';
@use '../mixins';
@use './tokens' as castor;

// ...$types: 'class' | 'dark' | 'raw';
@mixin theme($name, $types...) {
  $class: list.index($types, 'class');
  $dark: list.index($types, 'dark');
  $raw: list.index($types, 'raw');

  $selector: if($class, '.castor-theme--#{$name}', null);

  @include mixins.wrap-if($selector) {
    color-scheme: if($dark, 'dark', 'light');

    @if not $raw {
      @include castor.tokens();
    }

    @content;

    @media (prefers-reduced-motion) {
      --ods-transition-duration: 0s;
    }
  }
}
