@mixin tokens() {
  --ods-border-radius-small: 2px;
  --ods-border-radius-medium: 4px;
  --ods-border-radius-large: 8px;
  --ods-border-radius-full: 100vw;

  --ods-color-neutral-900: 30, 30, 36;
  --ods-color-neutral-800: 43, 45, 51;
  --ods-color-neutral-700: 99, 102, 112;
  --ods-color-neutral-600: 162, 168, 179;
  --ods-color-neutral-500: 180, 186, 197;
  --ods-color-neutral-400: 213, 218, 224;
  --ods-color-neutral-300: 233, 236, 240;
  --ods-color-neutral-200: 247, 249, 250;
  --ods-color-neutral-050: 252, 252, 253;
  --ods-color-neutral-white: 255, 255, 255;
  --ods-color-neutral-black: 0, 0, 0;
  --ods-color-primary-700: 28, 19, 101;
  --ods-color-primary-600: 35, 42, 173;
  --ods-color-primary-500: 54, 64, 245;
  --ods-color-primary-400: 92, 108, 255;
  --ods-color-primary-300: 130, 143, 255;
  --ods-color-primary-200: 189, 195, 255;
  --ods-color-primary-100: 235, 237, 255;
  --ods-color-primary-050: 245, 246, 255;
  --ods-color-primary-muted-600: 101, 105, 160;
  --ods-color-primary-muted-300: 149, 185, 255;
  --ods-color-accent-1-600: 255, 100, 100;
  --ods-color-accent-1-500: 255, 137, 125;
  --ods-color-accent-1-400: 255, 172, 163;
  --ods-color-accent-2-600: 249, 178, 20;
  --ods-color-accent-2-500: 255, 221, 84;
  --ods-color-accent-2-400: 255, 236, 112;
  --ods-color-accent-3-600: 129, 35, 173;
  --ods-color-accent-3-500: 175, 95, 239;
  --ods-color-accent-3-400: 222, 189, 255;
  --ods-color-success-600: 0, 107, 36;
  --ods-color-success-500: 5, 125, 39;
  --ods-color-success-400: 21, 179, 18;
  --ods-color-success-300: 81, 209, 123;
  --ods-color-success-200: 157, 239, 184;
  --ods-color-success-100: 203, 248, 218;
  --ods-color-success-050: 236, 253, 241;
  --ods-color-success-vivid-300: 145, 232, 123;
  --ods-color-success-muted-500: 108, 137, 94;
  --ods-color-success-muted-300: 137, 211, 163;
  --ods-color-info-700: 28, 19, 101;
  --ods-color-info-600: 35, 42, 173;
  --ods-color-info-500: 54, 64, 245;
  --ods-color-info-400: 92, 108, 255;
  --ods-color-info-300: 130, 143, 255;
  --ods-color-info-200: 189, 195, 255;
  --ods-color-info-100: 235, 237, 255;
  --ods-color-info-050: 245, 246, 255;
  --ods-color-info-muted-600: 101, 105, 160;
  --ods-color-info-muted-300: 149, 185, 255;
  --ods-color-warning-600: 158, 75, 8;
  --ods-color-warning-500: 196, 107, 4;
  --ods-color-warning-400: 227, 133, 25;
  --ods-color-warning-300: 251, 194, 127;
  --ods-color-warning-200: 250, 218, 181;
  --ods-color-warning-100: 253, 237, 219;
  --ods-color-warning-050: 255, 245, 235;
  --ods-color-warning-vivid-300: 253, 168, 70;
  --ods-color-warning-muted-500: 150, 125, 96;
  --ods-color-warning-muted-300: 235, 193, 144;
  --ods-color-error-600: 170, 0, 0;
  --ods-color-error-500: 195, 47, 47;
  --ods-color-error-400: 245, 78, 78;
  --ods-color-error-300: 252, 123, 123;
  --ods-color-error-200: 255, 185, 185;
  --ods-color-error-100: 252, 229, 229;
  --ods-color-error-050: 255, 246, 246;
  --ods-color-error-muted-500: 152, 93, 97;
  --ods-color-error-muted-300: 239, 169, 169;
}
