@use '@onfido/castor';

@include castor.Button();

body {
  align-items: center;
  display: flex;
  font-family: 'Helvetica Neue', Tahoma, sans-serif;
  font-size: 1rem;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.app {
  background-color: castor.color('background-main');
  border: castor.space(0.125) solid castor.color('border-action');
  border-radius: castor.border-radius('medium');
  color: castor.color('content-main');
  padding: castor.space(4);
  transition: 0.2s ease;
}

p {
  @include castor.font('400-bold');
  margin-top: 0;
}
