@mixin tokens() {
  --color-primary-700: 245, 124, 0;
  --color-primary-600: 251, 140, 0;
  --color-primary-500: 255, 152, 0;
  --color-primary-400: 255, 167, 38;
  --color-primary-300: 255, 183, 77;
  --color-primary-200: 255, 204, 128;
  --color-primary-100: 255, 224, 178;
  --color-primary-050: 255, 243, 224;
}
