@use '../../helpers';
@use '../../internal';
@use '../../mixins';

@mixin DatePicker() {
  @include internal.IndicatorContainer();

  @if not mixins.includes('DatePicker') {
    @include _DatePicker();
  }
}

@mixin _DatePicker() {
  $stroke-size: helpers.space(0.25);

  .ods-date-picker-overlay {
    inset: 0;
    position: fixed;
  }

  .ods-date-picker-container {
    margin-bottom: 150vh; // To remove
    position: relative;
  }

  .ods-date-picker {
    @include helpers.font('600-regular');
    position: relative;
    width: helpers.space(24);
  }

  .ods-date-picker-inputs {
    align-items: center;
    display: flex;
    font-size: 1rem;
    line-height: calc(1.5rem + 2px);

    input {
      @include helpers.font('500-regular');
      background-color: transparent;
      border: 0;
      font-size: 1rem;
      height: 1rem;
      line-height: 1rem;
      margin: 0;
      padding: 0.2rem 0.3ch;
      text-align: center;
      width: 3ch;
    }

    .ods-date-picker-inputs-year {
      width: 5ch;
    }
  }

  .ods-date-picker-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      border-radius: helpers.border-radius('full');
      height: helpers.space(6);
      width: helpers.space(6);
    }
  }

  .ods-date-picker-button {
    height: helpers.space(6);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: helpers.space(6);
  }

  .ods-date-picker-selector {
    background-color: helpers.color('background-surface');
    border: 1px solid helpers.color('border-input');
    border-radius: helpers.border-radius('medium');
    padding: helpers.space(0.5);
    width: helpers.space(42);

    header {
      align-items: center;
      display: flex;
      margin-bottom: helpers.space(0.5);
    }

    h3 {
      @include helpers.font('500-regular');
      align-items: center;
      display: flex;
      flex-grow: 1;
      font-size: 1rem;
      font-weight: 500;
      justify-content: center;
      line-height: 1rem;
      margin: 0;
      text-align: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
    }

    li {
      align-items: center;
      display: flex;
      justify-content: center;
      width: helpers.space(6);
    }
  }

  .ods-date-picker-date {
    .ods-button {
      border-radius: helpers.border-radius('full');
      height: helpers.space(6);
      width: helpers.space(6);
    }

    .ods-button:not(:disabled) {
      color: helpers.color('content-main');
    }

    .ods-button.ods-date-picker-selected {
      background-color: helpers.color('background-action');
      color: helpers.color('content-inverse-main');
    }

    .ods-date-picker-today::before {
      background-color: helpers.color('background-action');
      border-radius: helpers.border-radius('full');
      bottom: 4px;
      content: '';
      height: 6px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 6px;
    }

    .ods-date-picker-today.ods-date-picker-selected::before {
      background-color: helpers.color('background-inverse-action');
    }
  }

  .ods-date-picker-days {
    background-color: helpers.color('background-surface-alt');
    border-radius: helpers.border-radius('medium');
    color: helpers.color('content-secondary');
    height: helpers.space(4);
    margin: 0 0 helpers.space(0.5) 0;
  }

  .ods-date-picker-dates {
    margin: 0;
  }

  .ods-date-picker-year {
    margin: 0 0 0 0.2rem;
    position: relative;
    width: 2.5rem;

    div {
      background-color: helpers.color('border-action');
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      top: 100%;
      transition: height ease-in-out 0.2s;
    }
  }

  .ods-date-picker-year-input {
    @include helpers.font('500-regular');
    appearance: none;
    background-color: transparent;
    border: 0;
    color: helpers.color('content-main');
    font-size: 1rem;
    font-weight: bold;
    font-weight: 500;
    line-height: inherit;
    outline: none;
    padding: 0;
    text-align: center;
    width: 100%;

    &:focus + div {
      height: 2px;
    }
  }
}
