@use '../../helpers';

@mixin Validation() {
  .ods-validation {
    @include helpers.font('300-regular');

    display: grid;
    gap: helpers.space(1);
    grid-auto-flow: column;
    padding: helpers.space(0.5) 0;
    place-content: start;
    width: fit-content;

    &.-error {
      color: helpers.color('content-negative');
    }
  }
}
