@use '../theme' as castor;

// ...$types: 'class' | 'raw';
@mixin night($types...) {
  // prettier-ignore
  @include castor.theme('night', 'dark', $types...) {
    --ods-transition-duration: 0.15s;

    --ods-color-content-main: var(--ods-color-neutral-200), 1;
    --ods-color-content-secondary: var(--ods-color-neutral-500), 1;
    --ods-color-content-action: var(--ods-color-neutral-200), 1;
    --ods-color-content-placeholder: var(--ods-color-neutral-600), 1;
    --ods-color-content-disabled: var(--ods-color-neutral-600), 1;
    --ods-color-content-link: var(--ods-color-info-muted-300), 1;
    --ods-color-content-link-hover: var(--ods-color-primary-100), 1;
    --ods-color-content-link-visited: var(--ods-color-accent-3-400), 1;
    --ods-color-content-negative: var(--ods-color-error-200), 1;
    --ods-color-content-warning: var(--ods-color-warning-vivid-300), 1;
    --ods-color-content-positive: var(--ods-color-success-vivid-300), 1;
    --ods-color-content-info: var(--ods-color-info-muted-300), 1;
    --ods-color-content-spinner: var(--ods-color-neutral-400), 1;
    --ods-color-content-logo: var(--ods-color-neutral-white), 1;
    --ods-color-content-inverse-main: var(--ods-color-neutral-800), 1;
    --ods-color-content-inverse-secondary: var(--ods-color-neutral-700), 1;
    --ods-color-content-on-action: var(--ods-color-primary-500), 1;
    --ods-color-content-on-inverse-action: var(--ods-color-neutral-200), 1;
    --ods-color-content-always-light: var(--ods-color-neutral-200), 1;
    --ods-color-content-always-dark: var(--ods-color-neutral-800), 1;

    --ods-color-background-main: var(--ods-color-neutral-900), 1;
    --ods-color-background-surface: var(--ods-color-neutral-800), 1;
    --ods-color-background-surface-alt: var(--ods-color-neutral-700), 1;
    --ods-color-background-action: var(--ods-color-neutral-200), 1;
    --ods-color-background-action-hover: var(--ods-color-primary-100), 1;
    --ods-color-background-action-active: var(--ods-color-primary-200), 1;
    --ods-color-background-action-subtle: var(--ods-color-primary-300), 0.2;
    --ods-color-background-action-subtle-hover: var(--ods-color-primary-300), 0.1;
    --ods-color-background-disabled: var(--ods-color-neutral-700), 1;
    --ods-color-background-negative: var(--ods-color-error-500), 1;
    --ods-color-background-negative-hover: var(--ods-color-error-300), 1;
    --ods-color-background-negative-active: var(--ods-color-error-600), 1;
    --ods-color-background-negative-subtle: var(--ods-color-error-muted-500), 0.3;
    --ods-color-background-negative-subtle-hover: var(--ods-color-error-muted-500), 0.2;
    --ods-color-background-warning: var(--ods-color-warning-400), 1;
    --ods-color-background-warning-subtle: var(--ods-color-warning-300), 0.2;
    --ods-color-background-positive: var(--ods-color-success-400), 1;
    --ods-color-background-positive-subtle: var(--ods-color-success-200), 0.2;
    --ods-color-background-info: var(--ods-color-info-400), 1;
    --ods-color-background-info-subtle: var(--ods-color-info-300), 0.2;
    --ods-color-background-input: var(--ods-color-neutral-900), 1;
    --ods-color-background-input-selected: var(--ods-color-neutral-200), 1;
    --ods-color-background-spinner: var(--ods-color-neutral-400), 0.15;
    --ods-color-background-overlay: var(--ods-color-neutral-black), 0.8;
    --ods-color-background-overlay-subtle: var(--ods-color-neutral-black), 0.5;
    --ods-color-background-inverse-main: var(--ods-color-neutral-200), 1;
    --ods-color-background-inverse-surface: var(--ods-color-neutral-050), 1;
    --ods-color-background-inverse-action: var(--ods-color-primary-500), 1;

    --ods-color-border-separator: var(--ods-color-neutral-900), 1;
    --ods-color-border-input: var(--ods-color-neutral-600), 1;
    --ods-color-border-input-hover: var(--ods-color-neutral-500), 1;
    --ods-color-border-action: var(--ods-color-neutral-600), 1;
    --ods-color-border-action-hover: var(--ods-color-neutral-500), 1;
    --ods-color-border-action-subtle: var(--ods-color-primary-muted-600), 1;
    --ods-color-border-disabled: var(--ods-color-neutral-700), 1;
    --ods-color-border-negative: var(--ods-color-error-400), 1;
    --ods-color-border-negative-subtle: var(--ods-color-error-muted-500), 1;
    --ods-color-border-warning: var(--ods-color-warning-400), 1;
    --ods-color-border-warning-subtle: var(--ods-color-warning-muted-500), 1;
    --ods-color-border-positive: var(--ods-color-success-400), 1;
    --ods-color-border-positive-subtle: var(--ods-color-success-muted-500), 1;
    --ods-color-border-info: var(--ods-color-info-400), 1;
    --ods-color-border-info-subtle: var(--ods-color-info-muted-600), 1;
    --ods-color-border-input-selected: var(--ods-color-neutral-200), 1;
    --ods-color-border-focus-inner: var(--ods-color-neutral-900), 1;
    --ods-color-border-action-focus: var(--ods-color-primary-200), 1;
    --ods-color-border-negative-focus: var(--ods-color-error-400), 1;
    --ods-color-border-inverse-action: var(--ods-color-primary-500), 1;
  }
}
