@use '../../helpers';
@use '../../mixins';

@mixin Progress() {
  @if not mixins.includes('Progress') {
    @include _Progress();
  }
}

@mixin _Progress() {
  .ods-progress {
    display: inline-grid;
    grid: auto-flow/auto;
    position: relative;
    text-align: center;
    width: 100%;

    &::before {
      background-color: helpers.color('background-progress');
      border-radius: helpers.border-radius('full');
      content: '';
      width: 100%;
    }

    &::after {
      background-color: helpers.color('content-progress');
      border-radius: helpers.border-radius('full');
      content: '';
      position: absolute;
      transition: width var(--ods-transition-duration) ease-in-out;
      width: var(--percent-value);
    }

    &.-regular::before,
    &.-regular::after {
      height: helpers.space(0.5);
    }

    &.-large::before,
    &.-large::after {
      height: helpers.space(1);
    }

    &.-regular {
      @include helpers.font('200-regular');
      gap: helpers.space(0.5);
    }

    &.-large {
      @include helpers.font('300-regular');
      gap: helpers.space(1);
    }
  }
}
