@use '../../helpers';
@use '../../mixins';

@mixin Progress() {
  @if not mixins.includes('Progress') {
    @include _Progress();
  }
}

@mixin _Progress() {
  .ods-progress {
    display: inline-grid;
    grid: auto-flow/auto;
    width: 100%;

    &.-regular {
      gap: helpers.space(0.5);
    }

    &.-large {
      gap: helpers.space(1);
    }
  }

  .ods-progress-background {
    background-color: helpers.color('background-progress');
    border-radius: helpers.border-radius('full');
    overflow: hidden;
    width: 100%;

    &.-regular {
      height: helpers.space(0.5);
    }

    &.-large {
      height: helpers.space(1);
    }
  }

  .ods-progress-indicator {
    background-color: helpers.color('content-progress');
    height: 100%;
    transition: width var(--ods-transition-duration) ease-in-out;
  }

  .ods-progress-label {
    justify-self: center;

    &.-regular {
      @include helpers.font('200-regular');
    }

    &.-large {
      @include helpers.font('300-regular');
    }
  }
}
