@use '~@onfido/castor';

.grid {
  display: grid;
  gap: castor.space(5);
  grid: auto-flow / 1fr 1fr 1fr;
  margin: 0;
  place-items: center;
}

.raised {
  box-shadow: 0 2px 4px castor.color('neutral-900', 0.3);
}

.round {
  border-radius: castor.border-radius(full);
}

.icon {
  background-color: currentColor;
  display: inline-block;
  height: 24px;
  width: 24px;
}

.passport {
  mask: url('../../../node_modules/@onfido/castor-icons/svg/icon-passport.svg')
    no-repeat 100%;
}
