@use '../../helpers';

@mixin HelperText() {
  .ods-helper-text {
    @include helpers.font('200-regular');

    color: helpers.color('content-secondary');
    display: block;

    &.-disabled {
      color: helpers.color('content-disabled');
    }
  }
}
