@use '../../helpers';
@use '../../mixins';

@mixin Button() {
  $border-width: 1px;

  .ods-button {
    @include helpers.font('300-regular');
    @include mixins.interactive();

    align-items: center;
    appearance: none;
    background-color: transparent;
    border: $border-width solid transparent;
    border-radius: helpers.border-radius('medium');
    box-sizing: border-box;
    display: inline-grid;
    gap: helpers.space(1);
    grid-auto-flow: column;
    justify-content: center;
    padding: helpers.space(1.5) - $border-width helpers.space(3) - $border-width;
    position: relative;
    text-decoration: none;
    transition: var(--ods-transition-duration, 0s) ease;
    transition-property: background-color, border-color, box-shadow, color;
    width: fit-content;

    > * {
      box-sizing: inherit;
    }

    &.-action--primary {
      background-color: helpers.color('background-action');
      color: helpers.color('content-on-action');

      &:hover {
        background-color: helpers.color('background-action-hover');
      }

      &:active {
        background-color: helpers.color('background-action-active');
      }
    }

    &.-action--secondary {
      border-color: helpers.color('border-action');

      &:hover,
      &:active {
        border-color: helpers.color('border-action-hover');
      }
    }

    &.-action--secondary,
    &.-action--tertiary {
      color: helpers.color('content-action');

      &:hover {
        background-color: helpers.color('background-action-subtle-hover');
      }

      &:active {
        background-color: helpers.color('background-action-subtle');
      }
    }

    &.-action--primary,
    &.-action--secondary,
    &.-action--tertiary {
      @include mixins.with-inner-focus('action', $border-width);
    }

    &.-destructive--primary {
      background-color: helpers.color('background-negative');
      color: helpers.color('content-always-light');

      &:hover {
        background-color: helpers.color('background-negative-hover');
      }

      &:active {
        background-color: helpers.color('background-negative-active');
      }
    }

    &.-destructive--secondary {
      border-color: helpers.color('border-negative');
    }

    &.-destructive--secondary,
    &.-destructive--tertiary {
      color: helpers.color('content-negative');

      &:hover {
        background-color: helpers.color('background-negative-subtle-hover');
      }

      &:active {
        background-color: helpers.color('background-negative-subtle');
      }
    }

    &.-destructive--primary,
    &.-destructive--secondary,
    &.-destructive--tertiary {
      @include mixins.with-inner-focus('negative', $border-width);
    }

    &:disabled {
      color: helpers.color('content-disabled');
    }

    &.-action--primary,
    &.-destructive--primary {
      &:disabled {
        background-color: helpers.color('background-disabled');
      }
    }

    &.-action--secondary,
    &.-destructive--secondary {
      &:disabled {
        border-color: helpers.color('border-disabled');
      }
    }

    &.-action--secondary,
    &.-action--tertiary,
    &.-destructive--secondary,
    &.-destructive--tertiary {
      &:disabled {
        background-color: transparent;
      }
    }
  }
}
