@use '../../helpers';
@use '../../mixins';

@mixin Form() {
  @if not mixins.includes('Form') {
    @include _Form();
  }
}

@mixin _Form() {
  .ods-form {
    display: grid;
    gap: helpers.space(2);
    grid: auto-flow / 1fr;
    justify-items: start;

    &.-disabled a {
      pointer-events: none;
    }
  }
}
