$space: 8px;

.container {
  align-items: center;
  display: grid;
  gap: $space;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
}

.block {
  display: inline-grid;
  gap: $space;
}

.flow {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: -$space;

  > * {
    margin: $space;
  }
}

.grid {
  align-items: center;
  display: grid;
  gap: $space;
  grid: auto-flow / repeat(4, 1fr);
}
