@use '@onfido/castor';

:root {
  @include castor.tokens();
}

:global {
  @include castor.day('class', 'raw');
  @include castor.night('class', 'raw');
  @include castor.components();

  html {
    min-height: 100%;
  }

  body {
    background-color: castor.color('background-main');
    color: castor.color('content-main');
    font-family: 'Helvetica Neue', Tahoma, sans-serif;
    font-size: 1rem;
  }

  // override background color of the Docs panel
  body .sbdocs-preview {
    background-color: castor.color('background-main');
  }

  // fix appearance of <select> control on the Docs panel
  .docblock-argstable select {
    box-sizing: border-box;
  }
}
