@use 'sass:map';
@use '../../helpers';
@use '../../mixins';
@use '../icon/icon';
@use '../popover/popover';

@mixin Select() {
  @include icon.Icon();
  @include popover.Popover();

  @if not mixins.includes('Select') {
    @include _Select();
  }
}

@mixin _Select() {
  .ods-select {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    max-width: helpers.space(50);
    position: relative;
    width: 100%;

    > * {
      box-sizing: inherit;
    }

    &.-borderless {
      width: fit-content;
    }

    &.-empty > * {
      color: helpers.color('content-placeholder');
    }

    > .ods-icon {
      transition: transform helpers.time(1) ease;
    }

    &.-open > .ods-icon {
      transform: rotateX(180deg);
    }
  }

  .ods-select-native {
    @include mixins.as-text-field();
    @include mixins.interactive();
    @include display();
    @include with-padding(1px); // border width set on `as-text-field` mixin

    appearance: none; // removes native arrow that opens the select

    &.-absolute {
      position: absolute;
    }

    ~ .ods-icon {
      pointer-events: none;
      position: absolute;
      right: helpers.space(2);
    }

    &.-invalid ~ *,
    &.-touched:invalid ~ * {
      color: helpers.color('content-negative');
    }

    &:disabled {
      &,
      ~ * {
        color: helpers.color('content-disabled');
      }
    }
  }

  :where(.ods-select.-borderless) > .ods-select-native {
    @include mixins.with-inner-focus('action');
    @include with-padding(); // no border width because border will be unset

    background-color: transparent;
    border: 0;

    &:hover {
      background-color: helpers.color('background-action-subtle-hover');
    }

    &.-invalid,
    &.-touched:invalid {
      @include mixins.with-inner-focus('negative');

      &:hover {
        background-color: helpers.color('background-negative-subtle-hover');
      }
    }

    &:disabled,
    &:disabled:hover {
      background-color: helpers.color('background-disabled');
    }
  }

  .ods-select-output {
    @include helpers.font('300-regular');
    @include display();
    @include with-padding();
    pointer-events: none;
  }

  .ods-select-dropdown {
    --popover-gap: #{helpers.space(0.125)};

    background-color: helpers.color('border-focus-inner');
    border: helpers.space(0.125) solid helpers.color('border-input');
    border-radius: helpers.border-radius('medium');
    box-shadow: 0 helpers.space(0.25) helpers.space(0.5) rgb(0 0 0 / 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: helpers.space(30);
    max-width: helpers.space(50);
    padding: helpers.space(0.5) 0;
    pointer-events: initial;
    width: 100%;

    &:where(.-borderless) {
      width: max-content;
    }

    > * {
      box-sizing: inherit;
    }
  }

  .ods-select-option {
    @include helpers.font('300-regular');
    @include mixins.interactive();

    align-items: center;
    color: helpers.color('content-main');
    display: grid;
    position: relative;
    text-align: left;
  }

  .ods-select-option-input {
    height: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:active,
    &:focus {
      + .ods-select-option-content {
        @include mixins.inner-focus('action');
      }
    }

    &:checked {
      + .ods-select-option-content {
        background-color: helpers.color('background-action-subtle');
      }

      ~ .ods-select-option-icon {
        opacity: 1;
      }
    }

    &:disabled {
      + .ods-select-option-content {
        background-color: helpers.color('background-disabled');
        color: helpers.color('content-disabled');
        cursor: not-allowed;
      }
    }
  }

  .ods-select-option-content {
    @include with-padding();
    background-color: helpers.color('background-input');
    display: flex;
    position: relative;
    transition: background-color ease helpers.time(1);

    &:hover {
      background-color: helpers.color('background-action-subtle-hover');
    }
  }

  .ods-select-option-icon {
    color: helpers.color('content-action');
    opacity: 0;
    position: absolute;
    right: helpers.space(1.5);
    transition: opacity ease helpers.time(1);
  }

  .ods-select-option-group {
    @include helpers.font('200-allcaps');

    background-color: helpers.color('background-main');
    border: 0 solid helpers.color('border-separator');
    border-width: helpers.space(0.125) 0;
    color: helpers.color('content-placeholder');
    padding: helpers.space(0.5) helpers.space(2);
    text-transform: uppercase;
  }
}

@mixin display() {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin with-padding($border-width: 0) {
  @if type-of($border-width) != number {
    @error '$border-width must be a number';
  }

  $padding-horizontal: helpers.space(2) - $border-width;
  $padding-vertical: helpers.space(1.5) - $border-width;

  padding: $padding-vertical $padding-horizontal;
  padding-right: $padding-horizontal + helpers.space(4); // extra space for icon
}
