@use '../../helpers';
@use '../../mixins';
@use '../icon/icon';

@mixin Select() {
  @include icon.Icon();

  @if not mixins.includes('Select') {
    @include _Select();
  }
}

@mixin _Select() {
  .ods-select {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: helpers.space(50);

    &.-borderless {
      width: fit-content;
    }
  }

  .ods-select-native {
    @include mixins.as-text-field();
    @include mixins.interactive();
    @include with-padding(1px); // border width set on `as-text-field` mixin

    appearance: none; // removes native arrow that opens the select

    &.-empty {
      color: helpers.color('content-placeholder');
    }

    &.-borderless {
      @include mixins.with-inner-focus('action');
      @include with-padding(); // no border width because border will be unset

      background-color: transparent;
      border: 0;

      &:hover {
        background-color: helpers.color('background-action-subtle-hover');
      }

      &:disabled {
        background-color: helpers.color('background-disabled');
      }
    }

    &.-borderless.-invalid,
    &.-borderless.-touched:invalid {
      @include mixins.with-inner-focus('negative');
    }

    + .ods-icon {
      color: helpers.color('content-main');
      pointer-events: none;
      position: absolute;
      right: helpers.space(2);
    }

    &.-invalid,
    &.-touched:invalid,
    &.-invalid + .ods-icon,
    &.-touched:invalid + .ods-icon {
      color: helpers.color('content-negative');
    }

    &:disabled {
      &,
      + .ods-icon {
        color: helpers.color('content-disabled');
      }
    }
  }

  .ods-select-custom.-open + .ods-icon {
    transform: rotate(180deg);
  }

  .ods-select-custom-dropdown {
    @include mixins.with-inner-focus('action');

    background-color: helpers.color('background-input');
    border-radius: helpers.border-radius('small');
    box-sizing: border-box;
    display: none;
    margin-top: helpers.space(0.5);
    padding: 4px; // spread set on `with-inner-focus` mixin
    position: absolute;
    width: 100%;

    > * {
      box-sizing: inherit;
    }

    &.-open {
      display: block;
    }
  }

  .ods-select-custom-option {
    @include helpers.font('300-regular');
    @include mixins.interactive();

    align-items: center;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: helpers.color('content-main');
    display: flex;
    outline: none;
    padding: helpers.space(1.5) helpers.space(2);
    text-align: left;
    width: 100%;

    &:hover {
      background-color: helpers.color('background-action-subtle-hover');
    }

    &.-selected {
      background-color: helpers.color('background-input-selected');
      color: helpers.color('content-on-action');
    }

    &:disabled {
      background-color: helpers.color('background-disabled');
      color: helpers.color('content-disabled');
    }
  }
}

@mixin with-padding($border-width: 0) {
  @if type-of($border-width) != number {
    @error '$border-width must be a number';
  }

  $padding-horizontal: helpers.space(2) - $border-width;
  $padding-vertical: helpers.space(1.5) - $border-width;

  padding: $padding-vertical $padding-horizontal;
  padding-right: $padding-vertical + helpers.space(3.5); // extra space for icon
}
