@use '../../helpers';

@mixin FieldLabel() {
  .ods-field-label {
    @include helpers.font('300-regular');

    color: helpers.color('content-main');
    display: flex;
    flex-flow: column wrap;
    padding-top: helpers.space(0.5);

    + input,
    + textarea,
    > input,
    > textarea {
      margin-top: helpers.space(0.5);
    }
  }
}
