@use '../../helpers';

@mixin FieldLabel() {
  .ods-field-label {
    @include helpers.font('300-regular');

    color: helpers.color('content-main');
    display: grid;
    gap: helpers.space(0.5);
    padding-top: helpers.space(0.5);
  }
}
