name: Build

on:
  push:
    branches-ignore:
      - 'release/*.*.x' # already building package when publishing

jobs:
  build:
    name: Build packages and examples (test)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.1.4
        with:
          node-version: 14

      - name: Install Node dependencies
        run: yarn install --frozen-lockfile

      - name: Build packages
        run: yarn build

      - name: Build (bundled) examples
        run: |
          yarn --cwd ./examples/custom-themes build
          yarn --cwd ./examples/html-css-js-parcel build
          yarn --cwd ./examples/html-scss-ts-parcel build
          yarn --cwd ./examples/react-emotion-ts-parcel build
          yarn --cwd ./examples/react-scss-js-webpack build
          yarn --cwd ./examples/react-scss-ts-parcel build
